@use 'sass:map';
@use '~@angular/material' as mat;

@mixin color($my-theme) {
    $color-config: mat.get-color-config($my-theme);
    $primary-palette: map.get($color-config, 'primary');

    .sidenav-container mat-drawer {
        background: mat.get-color-from-palette($primary-palette);
    }
}


@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config != null {
        @include color($theme);
    }
}
