<div class="container">
  <h1><i>GraphQL demo page</i></h1>

  <mat-list>
    <mat-list-item *ngFor="let person of persons; last as last" (click)="showDetails(person.id)">
        <mat-icon matListIcon>person</mat-icon>
        <p matLine>{{person.firstName}} {{person.lastName}}</p>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-item>
  </mat-list>

  <div class="details-container" *ngIf="selectedPerson">
    <mat-card class="mat-elevation-z8 card-container">
      <mat-card-title>Details for {{selectedPerson.firstName}} {{selectedPerson.lastName}}</mat-card-title>
      <mat-tab-group animationDuration="500ms">
        <mat-tab label="Personalia">
          <div class="tab-container">
          <div class="row">
            <div class="col-md-3 label">Name: </div>
            <div class="col-md-5">{{selectedPerson.firstName}} {{selectedPerson.lastName}}</div>
          </div>
          <div class="row">
            <div class="col-md-3 label">Age:</div>
            <div class="col-md-5">{{selectedPerson.age}}</div>
            <div class="col-md-2 label">Gender:</div>
            <div class="col-md-2">{{selectedPerson.gender}}</div>
          </div>
          <div class="row">
            <div class="col-md-3 label">Customer since: </div>
            <div class="col-md-5">{{selectedPerson.customerSince | date : 'dd-MM-yyyy'}}</div>
          </div>
        </div>
        </mat-tab>
        <mat-tab label="Addresses">
          <div class="tab-container address-container">
              <div class="address-detail" *ngFor="let address of selectedPerson.addresses; last as last">
                <div class="margins">
                  <div class="row">
                    <div class="col-md-2 label">Street: </div>
                    <div class="col-md-6">{{address.streetName}}</div>
                    <div class="col-md-2 label">Number:</div>
                    <div class="col-md-2">{{address.houseNumber}}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-2 label">City:</div>
                    <div class="col-md-6">{{address.city}}</div>
                    <div class="col-md-2 label">Postal:</div>
                    <div class="col-md-2">{{address.postCode}}</div>
                  </div>
                </div>
              <mat-divider *ngIf="!last"></mat-divider>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Pets">
          <div class="pets-container">
            <div class="pet-card mat-elevation-z2" *ngFor="let pet of selectedPerson.pets">
              <div class="image-div">
                <img class="round-image" src="../../assets/{{pet.animalType}}.svg">
              </div>
              <div class="text-div">
                <div class="row">
                  <div class="col-md-4 label left-align">Name: </div>
                  <div class="col-md-8 right-align">{{pet.name}}</div>
                </div>
                <div class="row">
                  <div class="col-md-4 label left-align">Veterinary: </div>
                  <div class="col-md-8 right-align">{{pet.veterinary.fullName}}</div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
